@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300;400;500;600;700&family=Poppins:wght@500;600;700&display=swap');


body {
    margin :0;
    padding : 0;
    list-style: none;
    background-color: rgba(252,250,246,255);
}

.navbar{
    display :grid;
    grid-template-columns: repeat(3,1fr);
    position: absolute;
    padding-top: 1%;
    font-family: 'Fredoka', sans-serif;
    font-weight: 400;
    height: 8%;
    width: 100%;
}

.navbar a {
    text-decoration: none;
    color: black;
    transition: 0.2s ease-out;
    cursor: pointer;
}

.navbar a:hover {
    opacity: 50%;
}

.active{
    font-weight: 500;
}

.login{
    grid-area: 1 / 3 / 2 / 4;
    display: flex;
    justify-content: right;
    align-items: center;
    margin-right: 20%;
    position : relative;
}

.logo{
    grid-area: 1/1/2/2;
    display: flex;
    justify-content:left;
    align-items: center;
    margin-left: 20%;
}

.list{
    grid-area: 1 / 2 / 2 / 3;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin: 0;
    padding: 0;
    list-style: none;   
}


.button{
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #3c8769 ;
    border: 2px solid #3c8769;
    text-decoration: none;
    font-family: 'Fredoka', sans-serif;
    font-weight: 500;
    font-size: large;
    color: #fcfaf6;
    padding-left : 8%;
    padding-right: 8%;
    padding-top: 4%;
    padding-bottom: 4%;
    width: 30%;
    z-index: 1000;
    height: 15%;
    position: absolute;
    transition: 0.2s ease-in-out;
    cursor: pointer;
}

.button-rectangle{
    box-sizing: border-box;
    border: 2px solid black;
    padding-left : 8%;
    padding-right: 8%;
    padding-top: 4%;
    padding-bottom: 4%;
    
    height: 15%;
    width: 30%;
    z-index: 0;
}

.button:hover{
    transform: translate(-2.3%, -10%);
}

.wrapper{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    position: absolute;
    margin-top: 10%;
    width: 100%;
    
}

.left-side{
    display: flex;
    flex-direction: column;
    justify-content: center;
    grid-area: 1 / 1 / 2 / 2;
    display: flex;
    flex-direction: auto ;
    margin-left: 10%;
}

.title-paragraph{
    display : flex;
    flex-direction: column;
    font-family:'Poppins', sans-serif;
    font-weight: 600;
    font-size: 2vw;
    margin-top : 2%;
    line-height: 100%;
    width : 78%;
    
    
}

.title-paragraph h1{
    padding-left: 4%;
}

.black{
    color: black;
}

.orange{
    color : rgba(252,250,246,255);
    background-color: #df6c21;
}

.right-side{
    grid-area: 1 / 2 / 2 / 3;
    display: flex;
    justify-content: center;
    background-color: blue;
    
}

.right-image{
    
}